$font-default: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

// Cores
$color-background: #E6E9F0;
$nav-background: #1A1E2E;

$color-primary: #00C5DF;
$color-secondary: #7884D5;
$color-gray: #7c7e80;